*{ 
    margin:0; 
    padding:0; 
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

:root{
    --Light-Cyan:hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
    font-size: 28px;
}

body{
    background-color: var(--Dark-Blue);
    height: 100%;
    width: 100%;
}