.search-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#search-input{
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 10px;
}

#search-button{
    margin-left: 5px;
    padding-left: 1px;
    padding-right: 1px;
}